<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>A propos</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/assets/css/style.css"
	th:href="@{/assets/css/style.css}">
</head>
<body>
	<nav
		th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: navigation }"></nav>
	<section id="about" class="about section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2 class="text-center pt-3">A propos</h2>
				<h3 class="text-center">
					En savoir plus <span>sur nous</span>
				</h3>
				<p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis
					est adipisci expedita at voluptas atque vitae autem.</p>
			</div>

			<div class="row">
				<div
					class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center"
					data-aos="fade-up" data-aos-delay="100">
					<h3>Voluptatem dignissimos provident quasi corporis voluptates
						sit assumenda.</h3>
					<p class="fst-italic">Lorem ipsum dolor sit amet, consectetur
						adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua.</p>
					<ul>
						<li><i class="bx bx-store-alt"></i>
							<div>
								<h5>Ullamco laboris nisi ut aliquip consequat</h5>
								<p>Magni facilis facilis repellendus cum excepturi quaerat
									praesentium libre trade</p>
							</div></li>
						<li><i class="bx bx-images"></i>
							<div>
								<h5>Magnam soluta odio exercitationem reprehenderi</h5>
								<p>Quo totam dolorum at pariatur aut distinctio dolorum
									laudantium illo direna pasata redi</p>
							</div></li>
					</ul>
					<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.</p>
				</div>

				<div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
					<img th:src="@{/image/photo2.jpg}" class="img-fluid pt-5" alt="">
				</div>
			</div>
		</div>
	</section>

	<!-- Start section second part -->
	<section id="about" class="mt-3 about section-bg">
		<div class="container" data-aos="fade-up">

			<div class="row">
				<h3 class="text-primary">Un logement privatif et des services associés</h3>
				<p>Dans un Ehpad, chaque résident dispose d’une chambre
					individuelle, d’une chambre double ou communicante (suivant la
					situation), avec une salle de bains privative, télévision,
					téléphone.</p>
				<p>Accueillant des résidents en situation de perte d’autonomie,
					un EHPAD leur fournit également un certain nombre de services les
					déchargeant des soucis du quotidien, comme :
				<P>
				<ul>
					<li>l’entretien et nettoyage du logement</li>
					<li>la restauration (3 repas par jour, goûter et collation
						nocturne)</li>
					<li>le blanchissage (linge de lit et de toilette fournis)</li>
					<li>l’animation et la vie sociale (activités physiques et
						loisirs, sorties…)</li>
					<li>l’administration générale et les relations avec la famille</li>
				</ul>

			</div>
		</div>
	</section>
	<!-- end section -->
	
	    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <h3>Check our <span>Services</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Dele cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!--====== End Services Section ========-->
    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Hardworking <span>Team</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="image/equipe/membre-1.JPG" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>SALL Mouhamadou</h4>
                <span>Directeur administrative</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    
	<footer
		th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: footer }"></footer>
</body>
</html>