<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Ajout de repas</title>
</head>
<body>

	<h1>Ajout de repas</h1>

    <form method="post" th:object="${repas}">
        <label>Nom :</label>
        <input type="text" th:field="*{nom}" />

        <label>Date :</label>
        <input type="date" th:field="*{date}" />

        <label>Heure :</label>
        <input type="time" th:field="*{heure}" />

        <input type="submit" value="Ajouter" />
    </form>

    <a th:href="@{/repas}">Retour à la liste des repas</a>
</body>
</html>