<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Helpad</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script href="../static/js/admissionForm.js"
	th:src="@{/js/admissionForm.js}"></script>
</head>
<body>
	<div class="container">
		<nav
			th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: navigation }"></nav>
	</div>
	<form class="p-2" id="myForm" th:action="@{/sendAdmission}"
		method="post" enctype="multipart/form-data" >
		<h1 align=center>Formulaire de demande d'admission</h1>
		<h3 class="text-danger" th:text="${error}"></h3>
		<div style="text-align: center;">
			<span class="step" id="step-1">Identité</span> <span class="step"
				id="step-2">Adresse</span> <span class="step" id="step-3">Candidautres</span>
			<span class="step" id="step-4">Documents</span>
		</div>

		<div class="tab" id="tab-1">
			<p>Identité</p>
			<select name="civilite" id="civilité-select">
				<option value="">Civilité</option>
				<option value="Monsieur">Monsieur</option>
				<option value="Madame">Madame</option>
			</select>
			<div>
				<label for="nom"> Nom <span class="text-danger">*</span></label> <input
					type="text" placeholder="DUPONT" name="nom" required>
			</div>
			<div>
				<label for="prenom">Prénom <span class="text-danger">*</span></label>
				<input type="text" placeholder="Jean" name="prenom" required>
			</div>
			<div>
				<label for="email"> Email <span class="text-danger">*</span></label>
				<input type="email" placeholder="dupont.jean@gmail.com" name="email"
					required>
			</div>
			<div>
				<label for="telephone">Téléphone<span class="text-danger">*</span></label>
				<input type="text" placeholder="0033700000000" name="telephone"
					required>
			</div>
			<div>
				<span id="dateNaissanceError" class="text-danger"></span> <label
					for="dateNaissance">Date naissance <span
					class="text-danger">*</span></label> <input type="date"
					placeholder="Date naissance" id="dateNaissance"
					name="dateNaissance" required>
			</div>
			<div class="index-btn-wrapper">
				<div class="index-btn" onclick="run(1, 2);">Suivant</div>
			</div>
		</div>

		<div class="tab" id="tab-2">
			<p>Adresse:</p>
			<div>
				<label for="numero"> N° <span class="text-danger">*</span></label> <input
					type="number" placeholder="85" name="numero" required>
			</div>
			<div>
				<label for="rue">Rue <span class="text-danger">*</span></label> <input
					type="text" placeholder="Boulevard de la paris" name="rue" required>
				<div>
					<label for="ville">Ville <span class="text-danger">*</span></label>
					<input type="text" placeholder="Paris" name="ville" required>
				</div>
				<div>
					<label for="codePostal">Code postal <span
						class="text-danger">*</span></label><input type="text" placeholder="75015"
						name="codePostal" required>
				</div>
				<div>
					<label for="pays"> Pays <span class="text-danger">*</span></label>
					<input type="text" placeholder="Pays" name="France" required>
				</div>
				<div class="index-btn-wrapper">
					<div class="index-btn" onclick="run(2, 1);">Précedent</div>
					<div class="index-btn" onclick="run(2, 3);">Suivant</div>
				</div>
			</div>
		</div>
		<div class="tab" id="tab-3">

			<div>
				<span id="dateEntreeError" class="text-danger"></span> <label
					for="dateEntree"> Date entrée souhaite <span
					class="text-danger">*</span></label> <input type="date"
					placeholder="Date entrée souhaitée" id="dateEntree"
					name="dateEntree" required>
			</div>
			<div>
				<label for="dateEntree"> N° sécurité sociale <span
					class="text-danger">*</span></label> <input type="text"
					placeholder="1000000000" name="numeroSecuriteSocial" required>
			</div>
			<div>
				<label for="numeroDeCaf"> N° de CAF</label> <input type="text"
					placeholder="594326W" name="numeroDeCaf">
			</div>
			<div>
				<label for="revenu"> Revenu annuellement <span
					class="text-danger">*</span></label> <input type="text"
					placeholder="Revenu" name="revenu" required>
			</div>
			<input type="hidden" name="libelle" value="en cours de traitement" />
			<select name="pathologie" id="pathologie-select" required>
				<option value="">Avez vous des pathologies ?</option>
				<option value="Oui">Oui</option>
				<option value="Non">Non</option>
			</select>
			<div>
				<label class="mt-2" for="informationComplementaire">Des
					informations complémentaires</label><br>
				<textarea id="informationComplementaire"
					name="informationComplementaire" rows="8" cols="115">
				</textarea>
			</div>
			<div class="index-btn-wrapper">
				<div class="index-btn" onclick="run(3, 2);">Précedent</div>
				<div class="index-btn" onclick="run(3, 4);">Suivant</div>
			</div>
		</div>

		<div class="tab" id="tab-4">
			<p>Piéce justificatifs</p>
			<div>
				<label for="file1">Photocopie de pièce d'identité(JPG,PNG,
					PDF|max. 2 Mo) <span class="text-danger">*</span>
				</label> <input type="file" name="file" required>
			</div>
			<div>
				<label for="file2">Justificatif de domicile (JPG,PNG,
					PDF|max. 2 Mo) <span class="text-danger">*</span>
				</label> <input type="file" name="file" required>
			</div>
			<div>
				<label for="file3">Attestation d'hébergement
					d'identité(JPG,PNG, PDF|max. 2 Mo) </label> <input type="file" name="file3">
			</div>
			<div>
				<label for="file4">Photocopie de pièce d'identité de
					l'hébergeur(JPG,PNG, PDF|max. 2 Mo) </label> <input type="file"
					name="file4">
			</div>
			<div>
				<label for="file5">Quitance de loyer moins de 3
					mois(JPG,PNG, PDF|max. 2 Mo) </label> <input type="file" name="file5">
			</div>
			<div>
				<label for="file6">Justificatif de situation familiale
					(JPG,PNG, PDF|max. 2 Mo) <span class="text-danger">*</span>
				</label> <input type="file" name="file6" required>
			</div>
			<div>
				<label for="file7">Avsi d'imopsition (JPG,PNG, PDF|max. 2
					Mo) <span class="text-danger">*</span>
				</label> <input type="file" name="file7" required>
			</div>
			<div>
				<label for="file8">Attestation de droits de sécurité social
					(JPG,PNG, PDF|max. 2 Mo) <span class="text-danger">*</span>
				</label> <input type="file" name="file8" required>
			</div>
			<div>
				<label for="file9">Si vous avez des pathologies, joindre un
					justificatif (JPG,PNG, PDF|max. 2 Mo) </label> <input type="file"
					name="file9">
			</div> 
			<div class="index-btn-wrapper">
				<div class="index-btn" onclick="run(4, 3);">Précedent</div>
				<div class="index-btn" onclick="run(4, 5);">Suivant</div>
			</div>
		</div>

		<div class="tab" id="tab-5">
			<div class="index-btn-wrapper">
				<div>
					<div>
						<input type="checkbox" value="accepter"
							name="declarationExactitudeDesInformations" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">Je
							déclare sur l'honneur de l'exactitude des informations renseignes</label>
					</div>
					<div>
						<input type="checkbox" value="accepter" name="conditionGeneral"
							id="flexCheckChecked" checked> <label
							class="form-check-label" for="flexCheckChecked">J'ai lu
							et accepter les conditions générales d'utilisations des données.
						</label>
					</div>
				</div>
				<div class="index-btn" onclick="run(5, 4);">Précedent</div>
				<button class="index-btn" type="submit" name="submit"
					style="background: blue;">Valider</button>
			</div>
		</div>
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
	</form>
	<div class="container">
		<footer
			th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: footer }"></footer>
	</div>
	<script>
		// Default tab
		$(".tab").css("display", "none");
		$("#tab-1").css("display", "block");

		function run(hideTab, showTab) {

			// Progress bar
			for (i = 1; i < showTab; i++) {
				$("#step-" + i).css("opacity", "4");
			}

			// Switch tab
			$("#tab-" + hideTab).css("display", "none");
			$("#tab-" + showTab).css("display", "block");
			$("input").css("background", "#fff");
		}
	</script>
</body>
</html>