<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Helpad</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<nav
			th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: navigation }"></nav>
		<h2>Formulaire de candidature</h2>
		<p></p>
		<form action="sendAdmission" method="post" th:object="${candidat}">
			<h4>Nous vous remercions de bien vouloir candidater via le
				formulaire de candidature en ligne ci-après :</h4>

			<div>
				<label class="">Nom :<span class="text-danger m-4">*</span></label>
				<input type="text" class="input-control" name="nom"
					placeholder="Nom" th:value="${nom}" required />
			</div>
			<div>
				<label>Prenom : <span class="text-danger m-3">*</span></label> <input
					type="text" name="prenom" placeholder="Prenom" th:value="${prenom}"
					required />
			</div>
			<div>
				<label>Email : <span class="text-danger m-4">*</span></label> <input
					type="text" name="email" th:value="${email}" placeholder="Email"
					required />
			</div>
			<div>
				<label>Telephone : <span class="text-danger m-3">*</span></label> <input
					type="text" name="telephone" th:value="${telephone}"
					placeholder="Telephone" required />
			</div>

			<!-- <div>
				<label>Date naissance : <span class="text-danger m-2">*</span></label>
				<input type="date" name="dateNaissance" id="dateNaissance"
					th:value="${dateNaissance}" placeholder="Date naissance" required />
			</div>-->
			<hr>
			<div>
				<h6>Adresse</h6>
				<label>N° :<span class="text-danger m-3">*</span></label> <input
					type="text" name="numero" th:value="${numero}" placeholder="Numero"
					required />
			</div>
			<div>
				<label>Rue : <span class="text-danger m-2">*</span></label> <input
					type="text" name="rue" th:value="${rue}" placeholder="Rue" required />
			</div>
			<div>
				<label>Ville : <span class="text-danger m-2">*</span></label> <input
					type="text" name="ville" th:value="${ville}" placeholder="ville"
					required />
			</div>

			<div>
				<label>Code postale :<span class="text-danger ">*</span></label> <input
					name="codePostal" th:value="${codePostal}"
					placeholder="Code postal" required />
			</div>
			<div>
				<label>Pays<span class="text-danger m-2">*</span></label> <input
					type="text" name="pays" th:value="${pays}" placeholder="Pays"
					required />
			</div>
			<hr>
			<!--  <div>
				<h6>Information importantes</h6>
				<label>Date entrée Souhaite:<span class="text-danger m-3">*</span></label>
				<input type="date" th:value="${dateEntree}" required />
			</div>-->
			<div>
				<label> Numéro sécurité social : <span
					class="text-danger m-2">*</span></label> <input type="text"
					name="numeroSecuriteSocial" th:value="${numeroSecuriteSocial}"
					placeholder="Numero Sécurité social" required />
			</div>
			<div>
				<label>N° de CAF: </label> <input type="text" name="numeroDeCaf"
					th:value="${numeroDeCaf}" placeholder="Revenus annuelles" />
			</div>

			<div>
				<label>Revenu annuelle:<span class="text-danger ">*</span></label> <input
					type="text" name="revenu" th:value="${revenu}" required />
			</div>
			<div> 
			<p> Avez vous des pathologies ?</p>
			<input type="radio" id="pathologieChoice1" name="pathologie"
				value="Oui"> <label for="pathologieChoice1">Oui</label> 
				<input
				type="radio" id="pathologieChoice2" name="pathologie" value="Non">
			<label for="pathologieChoice2">Non</label>
			</div>
			<div>
				<label class="form-label" for="informationComplementaire">Informations
					complémentaires : </label>
				<textarea class="form-control" name="informationComplementaire"
					th:value="${informationComplementaire}"rows="4">
				</textarea>
			</div>
			<button type="submit" class="btn btn-primary">Envoyer</button>
		</form>
		<footer
			th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: footer }"></footer>
	</div>
</body>
</html>