<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<!-- form -->
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-4">
					<img
						src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
						class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<div class="card-body">
						<h3 class="mb-2 pt-5 pb-md-0 mb-md-5 text-center text-primary">Veuillez vous inscrire</h3>
						<h4 th:text="${error}" th:class="${alertClass}"></h4>
						<div class="">
						<span class="text-danger fw-bold" id="errorfirstname"></span>
						<span class="text-danger fw-bold" id="errorlastname"></span>
						<span class="text-danger fw-bold" id="erroremailaddress"></span>
						<span class="text-danger fw-bold" id="errorpassword"></span>
						</div>
						<form th:action="@{/user/add}" method="post" name="inscriptionForm"
							th:object="${personne}">

							<div class="row">
								<div class="col-md-6 mb-7">
									<div class="form-outline">
										<label class="form-label" for="firstName">Prénom</label>
										 <input
											type="text" th:field="*{prenom}" id="firstName"
											class="form-control form-control-lg" required/>
									</div>

								</div>
								<div class="col-md-6 mb-4">
									<span class="text-danger" id="errorlastname"></span>
									<div class="form-outline">
										<label class="form-label" for="lastName">Nom</label> 
										<input
											type="text" th:field="*{nom}" id="lastName"
											class="form-control form-control-lg" required/>
									</div>

								</div>
							</div>

							<div class="row">


								<div class="col-md-6 mb-4 pb-2">
								
									<div class="form-outline">
										<label class="form-label" for="emailAddress">Email</label>
										 <input
											type="email" th:field="*{email}" id="emailAddress"
											class="form-control form-control-lg" required/>
									</div>
								</div>
								<div class="col-md-6 mb-4 pb-2">
									<div class="form-outline mb-3">
										<label class="form-label" for="password">Mot de
											passe</label>
											 <input type="password" th:field="*{password}"
											id="password" class="form-control form-control-lg"
											placeholder="" required/>
									</div>
 									<input type="hidden" name="numeroSecuriteSocial" value="000000000000000" disabled="disabled">
									<input type="hidden" name="numeroDeCaf" value="000000C" disabled="disabled">
								</div>
							</div>
							<div class="mt-2 pt-2">
								<input class="btn btn-primary btn-lg" id="btnInscription" type="submit"
									value="S'inscrire" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script href="../static/js/inscriptionForm.js" th:src="@{/js/inscriptionForm.js}"></script>
</body>
</html>