<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

    <title>Liste des plats</title>
</head>
<body>
    <h1>Liste des plats</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="plat : ${platList}">
                <td th:text="${plat.id}"></td>
                <td th:text="${plat.nom}"></td>
                <td th:text="${plat.description}"></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/plats/add}">Ajouter un plat</a>
</body>
</html>