<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recaptilatifs</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<nav
		th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: navigation }"></nav>
	<div class="container">
		<img th:src="@{/image/logo-heplad.jpg}" style="width:100px; height:100px;">
		<h3 class="text-primary pt-3">DEMANDE D'ADMISSION</h3>
		<a class="text-black" th:href="@{/dashboard}">Mon Compte</a>
	</div>

	<div class="container pt-2">
		<div class="border border-primary">
			<h2 class="bg-primary text-white">Récapitilatif de ma demande</h2>
			<p class="float-end fw-bold pe-3">
				Votre numéro de réference : <span
					th:each="candidature:${candidat.mesCandidatures}"
					th:text="${candidature.numeroRef}"></span>
			</p>
			<div class="pt-4" th:each="candidat : ${candidat}">
				<p class="ps-3 fw-bold">
					Genre : <input class="border border-primary rounded" type=text
						th:value="${candidat.civilite}" disabled="disabled">
				</p>
				<p class=" ps-3 fw-bold">
					Nom : <input class="border border-primary rounded"
						th:value="${candidat.nom}" disabled="disabled">
				</p>
				<p class="ps-3 fw-bold">
					Prénom : <input class="border border-primary rounded"
						th:value="${candidat.prenom}" disabled="disabled">
				</p>
				<p class="ps-3 fw-bold">
					Adresse email : <input class="border border-primary rounded"
						th:value="${candidat.email}" disabled="disabled">
				</p>
				<p class="ps-3 fw-bold">
					Téléphone : <input class="border border-primary rounded"
						th:value="${candidat.telephone}" disabled="disabled">
				</p>
				<p class="ps-3 fw-bold">
					Date de Naissance : <input class="border border-primary rounded"
						th:value="${candidat.dateNaissance}" disabled="disabled">
				</p>
			</div>
			<div>
				<h4 class="bg-primary text-white ps-3">Adresse de la personne
					qui fait la demande</h4>
				<p class="ps-3 fw-bold">
					N° de voie : <input class="border border-primary rounded"
						type="text" th:value="${candidat.adresse.numero}"
						disabled="disabled">
				</p>
				<p class="ps-3 fw-bold">
					Nom de la voie : <input class="border border-primary rounded"
						type="text" th:value="${candidat.adresse.rue}" disabled="disabled">
				</p>
				<p class="ps-3 fw-bold">
					Code Postal : <input class="border border-primary rounded"
						type="text" th:value="${candidat.adresse.codePostal}"
						disabled="disabled">
				</p>
				<p class="ps-3 fw-bold">
					Nom de la ville / commune : <input
						class="border border-primary rounded" type="text"
						th:value="${candidat.adresse.ville}" disabled="disabled">
				</p>
				<p class="ps-3 fw-bold">
					Pays : <input class="border border-primary rounded" type="text"
						th:value="${candidat.adresse.pays}" disabled="disabled">
				</p>
			</div>
			<div th:each="candidature : ${candidat.mesCandidatures}">
				<h4 class="bg-primary text-white ps-3">Informations sur la
					candidature</h4>
				<p class="ps-3 fw-bold">
					Date d'entrée souhaitée : <input
						class="border border-primary rounded" type="text"
						th:value="${candidature.candidat.dateEntree}">
				</p>
				<p class="ps-3 fw-bold">
					Avez-vous des pathologies? : <input
						class="border border-primary rounded" type="text"
						th:value="${candidature.pathologie}">
				</p>
				<p class="ps-3 fw-bold">
					Date de candidature : <input class="border border-primary rounded"
						type="text" th:value="${candidature.jourDeCandidature}">
				</p>
				<p class="ps-3 fw-bold">
					Informations complémentaires : <input
						class="border border-primary rounded" type="text"
						th:value="${candidature.informationComplementaire}">
				</p>
				<p class="ps-3 fw-bold">
					Vous avez déclaré sur l'honneur l'exactitude des informations
					renseignées : <input class="border border-primary rounded"
						type="text"
						th:value="${candidature.declarationExactitudeDesInformations}">
				</p>
				<p class="ps-3 fw-bold">
					Vous avez accepté les conditons générales d'utilisation des données : <input
						class="border border-primary rounded" type="text"
						th:value="${candidature.conditionGeneral}">
				</p>
			
			<h4 class="bg-primary text-white ps-3">Les pièces justificatives</h4>
			 <div>
				<ul class="list-group">
					<li class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName1}}" th:text="${candidature.fileName1}"></a></li>
					<li class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName2}}" th:text="${candidature.fileName2}"></a></li>
					<li th:if="${candidature.fileName3!=''}" class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName3}}" th:text="${candidature.fileName3}"></a></li>
					<li  th:if="${candidature.fileName4 !=''}"  class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName4}}" th:text="${candidature.fileName4}"></a></li>
					<li th:if="${candidature.fileName5 !=''}" class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName5}}" th:text="${candidature.fileName5}"></a></li>
					<li class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName6}}" th:text="${candidature.fileName6}"></a></li>
					<li class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName7}}" th:text="${candidature.fileName7}"></a></li>
					<li class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName8}}" th:text="${candidature.fileName8}"></a></li>
					<li th:if="${candidature.fileName9 !=''}" class="list-group-item"><a target="_black" th:href="@{'/Stockage/' +${candidature.fileName9}}" th:text="${candidature.fileName9}"></a></li>
				</ul>
			</div> 
			</div>
		</div>
	</div>
</body>
</html>