<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Helpad</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<nav
			th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: navigation }"></nav>
		<h2>Inventaire de médicament</h2>
		<p></p>
		<div th:text="${message}" th:class="${alertClass}"></div>
		<a class="btn btn-primary my-2" type="button"
			th:href="@{/ajouter-medicament}">Ajouter un Médicament</a>
		<h4>Veuillez sélectionner un médicament :</h4>

		<div class="row g-8">
			<div class="col-md-1">
				<label class="form-label">ID</label>
			</div>

			<div class="col-md-2">
				<label class="form-label">Nom</label>
			</div>

			<div class="col-md-2">
				<label class="form-label">Fonction</label>
			</div>

			<div class="col-md-2">
				<label class="form-label">Quantité par boîte</label>
			</div>

			<div class="col-md-2">
				<label class="form-label">Type de stock</label>
			</div>

			<div class="col-md-2">
				<label class="form-label">Stock</label>
			</div>

			<div class="col-md-1">
				<label class="form-label">Action</label>
			</div>
		</div>

		<form class="row g-8 my-2" th:action="modifier-stock" method="post"
			th:object="${Medicament}" th:each="medicament : ${medicaments}">

			<div class="col-md-1">
				<input class="form-control" type="number" hidden="true" id="id"
					name="id" th:value="${medicament.idMedicament}" /> <label
					class="form-control" th:text="${medicament.idMedicament}"></label>
			</div>

			<div class="col-md-2">
				<label class="form-control disabled" id="nom"
					th:text="${medicament.nom}"></label>
			</div>

			<div class="col-md-2">
				<label class="form-control disabled" id="fonction"
					th:text="${medicament.fonction}"></label>
			</div>

			<div class="col-md-2">
				<label class="form-control disabled" id="qt"
					th:text="${medicament.quantiteParBoite}"></label>
			</div>

			<div class="col-md-2">
				<label class="form-control disabled" id="type"
					th:text="${medicament.typeStock}"></label>
			</div>

			<div class="col-md-2">
				<input class="form-control" type="number" id="stock" name="stock"
					th:value="${medicament.stock}" />
			</div>

			<div class="col-md-1">
				<input class="btn btn-primary" type="submit" value="Modifier" />
			</div>

		</form>
		<br />
		<div class="col-md-2">
			<a class="btn btn-secondary" type="button"
				th:href="@{/inventaire}">Retour</a>
		</div>
		<br />
		<footer
			th:insert="~{ frontoffice/fragmentfrontoffice/templatefrontoffice :: footer }"></footer>
	</div>
</body>
</html>