

 /*admission*/
 body{
    background: #eaeaea;
  }
  
  form{
    background: #ffffff;
    margin: 100px auto;
    padding: 15px 40px 40px 40px;
    width: 70%;
  }
  
  .tab p{
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  
  input{
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
  }
  
  .index-btn-wrapper{
    display: flex;
  }
  
  .index-btn{
    margin: 20px 15px 0 0;
    background:blue;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .index-btn:hover{
    opacity: 0.8;
  }
  
  .step{
    height: 90px;
    width: 180px;
    line-height: 60px;
    margin: 0 50px 0;
    color:white;
    background:blue;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.25;
  }
 
 /* confirmation */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-confirmation{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
}

@media (max-width:1400px) {
    .step{
        height: 35px;
        width: 90px;
        line-height: 30px;
        margin: 0 20px 0;
        color:white;
        background:#4242f8;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.9;
        }
     }
     
  /* index.html*/
  section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  }