
.footer{
position: fixed;
bottom:0;
width:68%;
}

/* media query */
@media (max-width:684px) {
.footer{
    width:100%;
    }
 }
 
 /* confirmation */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
}
