<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text=${title}></title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<form th:action="@{/admin/addChambre}" method="post" th:object="${chambre}">
	<div>
		<label for="noChambre">N° de chambre <span class="text-danger">*</span></label>
		<input type="number" id="noChambre" th:field=*{noChambre} required>
	</div>
	<div>
		<label></label>
		
	</div>
	<div>
		<label>Quelle étage se trouve la chambre <span class="text-danger">*</span></label><br>
		<select  id="noEtage">
				<option value="">Etage</option>
				<option value="0">0</option>
				<option value="1">01</option>
				<option value="2">02</option>
				<option value="3">03</option>
				<option value="4">04</option>
			</select>
	</div>
	<div>
		<label for="disponibilite">La chambre est-elle disponible ? <span class="text-danger">*</span></label><br>
		<select th:field="*{disponibilite}" id="disponibilite">
				<option value="">Disponibilite</option>
				<option value="true">Oui</option>
				<option value="false">Non</option>
		</select>
				
	</div>
	<div>
		<label></label>
		<input>
	</div>
	<div>
		<button class="btn btn-primary" type="submit">Ajouter une nouvelle Chambre</button>
	</div>
	</form>
</body>
</html>