<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">

		<nav class="navbar bg-primary" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand text-white" th:href="@{/}">HELPAD</a>
				<ul class="nav justify-content-end">
					<li class="nav-item"><a class="nav-link text-white"
						aria-current="page" href="#">Active</a></li>
					<li class="nav-item"><a class="nav-link text-white" href="#">Mon
							compte</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container">
		<div>
			<span  th:text="${errormessage}" th:class="${alertClass}"></span>
		</div>
		<div class="ps-5 pt-5" >
			<form th:acttion="@{/candidature/search}" method="get">
				<input type="text" name="numeroRef" placeholder="Numéro de reférence">
				<button class="btn btn-primary" type="submit">Cherchez</button>
			</form>
		</div>
		<div class="p-5">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Réference</th>
						<th scope="col">Prénom</th>
						<th scope="col">Nom</th>
						<th scope="col">Crée le</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="candidature:${candidats}">
						<th th:text="${candidature.numeroRef}"></th>
						<th th:text="${candidature.candidat.prenom}"></th>
						<th th:text="${candidature.candidat.nom}"></th>
						<td th:text="${candidature.jourDeCandidature}"></td>
						<td th:text="${candidature.status.libelle}"></td>
						<td>
							<!--  <select>--> <a th:href="@{/admin/consulter/candidature/{id}(id=${candidature.candidat.idPersonne})}">
								<Button class="btn btn-primary">Consulter</Button>
						</a> <!-- <option><a href="#">
										<button>Supprimer</button>
									</a>
								</option>
								<option>
									<a href="#">
										<button>Modifier</button>
									</a>
								</option>

						</select> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>