<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des repas par date</title>
</head>
<body>
    <h1>Liste des repas par date</h1>
    <form action="#" method="get">
        <label>Date :</label>
        <input type="date" name="dr" th:value="${dr}" required>
        <button type="submit">Rechercher</button>
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>Horaire</th>
                <th>Plats</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="repas : ${repass}">
                <td th:text="${repas.horaire}"></td>
                <td th:text="${repas.idRepas}"></td>
                <td th:text="${repas.dateRepas}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>